<% layout("/common/_container.html"){ %>


<style>
    .ddtb{
        text-align: center;
    }
    .onefont{
        color: #0C0C0C;
        font-size: 17px;
    }
</style>


<div class="layui-fluid" id="printshow">
    <div class="layui-card">
        <div id="app" class="layui-card-body">
            <form   id="busiPatientForm" lay-filter="busiPatientForm" class="layui-form model-form" style="width: 100%;height: 500px">
                    <table class="layui-table">
                        <tr>
                            <td class="ddtb"  colspan="6">

                                <font style="margin-left: 15px;vertical-align:middle" color="black" size="5px" >康华国医馆</font>
                            </td>
                        </tr>
                        <tr>
                            <!--<td colspan="6"><font color="black" ><p style="float: right;width:30px;border: 0.4mm solid #4F4F4F">傳承</p></font></td>
                        -->
                        </tr>
                        <tr>
                            <td>姓名:</td>
                            <td>{{busiPatientdata.patientName}}</td>
                            <td>性别:</td>
                            <td>{{busiPatientdata.patientSex}}</td>
                            <td>年龄:</td>
                            <td>{{busiPatientdata.patientAge}}</td>
                        </tr>
                        <tr>
                            <td>科别:</td>
                            <td></td>
                            <td>住院号:</td>
                            <td></td>
                            <td>日期:</td>
                            <td>{{busiRecorddata.checkTime}}</td>
                        </tr>
                        <tr>
                            <td>临床诊断:</td>
                            <td colspan="5">{{busiRecorddata.diagnose}}</td>
                        </tr>
                        <tr>
                            <td colspan="6">Rp:</td>
                        </tr>
                        <tr >
                            <td colspan="6" >
                                <p v-for="item in rxdrug_list">{{item.drugName}}{{item.drugNumber}}{{item.drugUnit}},</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5"><span style="float: right">医师:</span></td>
                            <td>{{busiRecorddata.checkDoctor}}</td>
                        </tr>
                        <tr>
                            <td>审核:</td>
                            <td></td>
                            <td>核对:</td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>调配:</td>
                            <td></td>
                            <td>发药:</td>
                            <td></td>
                            <td>药费:</td>
                            <td>{{busiRecorddata.drugMoney}}&nbsp;&nbsp;元</td>
                        </tr>
                        <tr style="display: none">
                            <td colspan="10">
                            <h2 class="layui-text" style="font-size: 17px;" v-if="busiRecorddata.length==0">暂无相关产品</h2>
                            </td>
                        </tr>
                    </table>
            </form>
        </div>
    </div>
</div>

<script>

    var vm = new Vue({
        el:'#app',
        data:{
            msg:'Hello World!',
            busiPatientdata:'',
            busiRecorddata:'',
            rxdrug_list:'',

        },
        methods:{
            //获得数据详情
            getItem:async function () {
                var data = await request.fetch("/admin/patient/getPatientDetail",{id:"${parameter.patientId}"});
                if(data.patientSex == 1){
                    data.patientSex = "男";
                }else if(data.patientSex == 2){
                    data.patientSex = "女";
                }else{
                    data.patientSex = "";
                }
                vm.busiPatientdata = data
            },
            getmdItem:async function(){
                vm.busiRecorddata  =await request.fetch("/admin/record/getRecordDetail",{id:"${parameter.id}"});
            },
            getrxdrug:async function(){
                vm.rxdrug_list = await request.fetch("/admin/rxdrug/getRxdrugList",{recordId:"${parameter.id}"});

            },


        },
        mounted:async function() {
            //在模板渲染成html后调用，通常是初始化页面完成后，再对html的dom节点进行一些需要的操作。
            vm = this;
            await this.getItem();
            await this.getmdItem();
            await  this.getrxdrug();
            form.render();
        },
        updated: function () {
            form.render();
        },
        watch:{
        }
    });

    function printA4(){
        var LODOP; //声明为全局变量
        LODOP=getLodop();
        if(app.isEmpty(LODOP)){
            parent.layer.msg("请先安装打印控件",{icon:7,time:1500});
            return false;
        }
        LODOP.PRINT_INIT("档案打印");
        //LODOP.SET_SHOW_MODE("HIDE_PAPER_BOARD",true);//隐藏走纸板
        LODOP.SET_PREVIEW_WINDOW(1);//隐藏工具条，设置适高显示
        LODOP.SET_PRINT_STYLEA(0,"ItemType",1);//循环上一命令（页码）
        LODOP.ADD_PRINT_HTM("18%","0","100%","80%",'<!DOCTYPE html>'+document.getElementById("superbig").innerHTML);
        //console.log(document.getElementById("printshow").innerHTML)
        LODOP.PRINT();
    }

</script>



<% } %>
