<% layout("/common/_container.html"){ %>

<div class="layui-fluid" id="app">
    <div class="layui-card-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 35px;">
            <legend>处方药表</legend>
        </fieldset>

        <div class="layui-row layui-col-space15 ">
            <div class="layui-col-md6">
                <div class="layui-card layui-anim layui-anim-scale">
                    <!--                    <div class="layui-card-header">卡片面板</div>-->
                    <div class="layui-card-body">
                        翻白草 ：1g<br>
                    </div>
                </div>
            </div>

            <!--            <div class="layui-col-md12">-->
            <!--                <div class="layui-card">-->
            <!--                    <div class="layui-card-header">标题</div>-->
            <!--                    <div class="layui-card-body">-->
            <!--                        内容-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            msg: 'Hello World!',
            info:{},
        },
        computed:{
        },
        methods: {
            getDetail:async function(id){
                vm.info = await request.fetch("getRxdrugDetail",{id:id});
                form.val('rxdrugForm', vm.info);
            },
            back:function(){
                location.href = 'rxdrug_list';
            },
            getDic:async function(){
                var data = {
                }
                var res = await api.getDictList(data);
            }
        },
        mounted:async function() {
            vm = this;

            var uid = parseInt(Math.random()*10000);
            var url = "ws://localhost:9876";
            var ws =new WebSocket(url+"?uid="+uid);
            ws.onmessage=function (res) {
                console.log(res.data);
                alert(res.data)
            }

            var id = app.getUrlParam('id');

            await vm.getDic();

            app.isNotEmpty(id) && await vm.getDetail(id);

            form.on('submit(rxdrugForm)', function (data) {
                request.post("editRxdrug",data.field).then(res=>{
                    app.success("操作成功！");
                    location.href = 'rxdrug_list'
                })
                return false;
            });

            form.render();
        },
        updated: function () {
            form.render();
        }
    })
</script>


<% } %>

<style>
    .layui-input-inline{
        min-width:350px !important;
    }
</style>
